{{#each erros}}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>{{texto}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{{else}}

{{/each}}





<div class="conteudo">
			<div class="tittle">
			CRIE SUA CONTA 
			</div>
		
			<form action="" method="POST">
				<label for="nome" class="mt-3 mb-3">NOME :</label>
				<input type="text" name="nome" class="form-control" required>
				<label for="email" class="mt-3 mb-3">EMAIL :</label>
				<input type="email" name="email" class="form-control" required>
				<label for="senha" class="mt-3 mb-3">SENHA :</label>
				<input type="password" name="senha" class="form-control" required>
				<label for="senha2" class="mt-3 mb-3">CONFIRME A SENHA:</label>
				<input type="password" name="senha2" class="form-control" required>

				<button class="btn btn-success mt-5 mb-3 btn-login">Criar Conta</button>
			</form>
	
</div>


<style>
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
.conteudo{
	height: 700px;
	width: 650px;
	background-color: black;
	position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
	text-align: center;

}

label{
	color:white;
	font-size: 15px;
	font-family: 'Roboto Slab', serif;
	font-weight: bolder;
	margin-top: 10px;
}

.form-control{
	width: 75%;
	margin-left: 12.5%;
	border-radius: 10px;
	height: 50px;
	margin-top: 10px;
	background-color:#ccc ;
	opacity: 0.5;

}

.btn-login{
	width: 75%;
	border-radius: 10px;
	font-family: 'Roboto Slab', serif;
	font-weight: bolder;
}

.tittle{
	height: 100px;
	width: 100%;
	font-size: 30px;
	color:white;
	font-family: 'Roboto Slab', serif;
	font-weight: bolder;
	background-color: crimson;
	display: flex;
	justify-content: center;
	align-items: center;

}

</style>